*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Padauk, serif;
}
html{
    font-size: 75%;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: #060625;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    width: 45rem;
    height: 52rem;
    background-color: #232328;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.9);
}

.month{
    width: 100%;
    height: 12rem;
    background-color: #167e48;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow:0.4rem .5rem rgba(0,0,0,0.3);
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 0.4rem;
}

.weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
    color: #81b444;
}

.weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.days div {
    border: 1px solid #ccc;
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
}

.days div:hover:not(.today) {
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
}

.previous-date,
.next-date {
    opacity: 0.5;
}

.today {
    background-color: #167e56;
}